<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyToDo</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<div id="wrap">
    <!--Header-->
    <header class="header">
        <div class="header-area">
            <div class="logo">
                <h1><a href="#">MyTodo</a></h1>
            </div>
        </div>
    </header>
    <div class="sign">
        <h1>Sign up</h1>
        <form>
            <label for="username">User name</label>
            <input id='username' type='text' placeholder="User name">

            <label for="useremail">Email</label>
            <input id='useremail' type='text' placeholder="Email">

            <label for="pwd">pwd</label>
            <input id='pwd' type='password' maxlength='10' placeholder="PW">

            <label for="pwd">pwd</label>
            <input id='pwd' type='password' maxlength='10' placeholder="PW confirm">

            <button type="submit">Sign up</button>
        </form>
        <footer class="copyright">
            <p>Copyright 2020. bhjh. All right reserved </p>
        </footer>
    </div>
</div>
<script src="js/js.js"></script>
</body>
</html>